* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #eee;
    font-family: 'Noto Sans Lao', sans-serif;
}

.full-parent {
    min-height: calc(100vh - 3.5rem) !important;
}

.dataTables_filter{
     padding-bottom: 1rem !important;
}